button {
  border: none;
  background-color: #333333;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
  outline: none;
}

button:hover {
  background-color: #a6a6a6;
}

.upper {
    background-color: #a6a6a6;
}

.upper:hover {
    background-color: #333333;
}

.left {
    background-color: #f09a36;
}

.equals {
  grid-column: 1 / 3;
  background-color: #333333;
}

.equals:hover {
  background-color: "#a6a6a6";
}